* {
	margin: 0;
	font-size: 25px;
}

.item1 { grid-area: imageLeft; }
.item2 { grid-area: imageRight; }
.item3 { grid-area: left; }
.item4 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'imageLeft imageLeft imageLeft imageRight imageRight imageRight'
    'left left left right right right ';
  grid-column-gap: 100px;
  grid-row-gap: 30px;
  background-color: white;
}

.grid-container > div {
  background-color: white;
  text-align: center;
}

header {
	text-align:center;
}

.logo{
	width: 360px;
	height: 150px;
	margin: 30px;
}
nav {
	display: inline;
}

#navBar {
	border: solid 1px black;
	padding-top: 23px;
	margin-bottom: 30px;
	height: 50px;
	text-align: center;

}

.navItem {
	padding: 23px;
	margin: 50px;
	display: inline;
	border-left: solid 1px black;
	border-right: solid 1px black;
	background-color: black;
	color: white;
	text-align: center;

}

.grappigNummer {
	width: 420px;
	height: 200px;
}

p {
	font-size: 20px;
}

footer {
	text-align: center;
	color: white;
	background-color: black;
}